/*REGLAS GENERALES*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fb;
    color:#1f2937;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}

header a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

main{
    max-width:900px;
    margin:30px auto;
    padding:20px;
}

/*CATÁLOGO*/

.catalogo{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.tarjeta{
    background:white;
    padding:20px;
    border-radius:10px;
    border:1px solid #d1d5db;
    transition:.3s;
}

.tarjeta:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.tarjeta a{
    text-decoration:none;
    color:#2563eb;
}

footer{
    text-align:center;
    padding:15px;
}

/*DETALLE*/

.info-taller,
.bitacora{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    border:1px solid #d1d5db;
}

/*FORMULARIO DE REGISTRO*/

/* REGLA PROPIA DEL FORMULARIO */

.formulario-registro{
    background:white;
    max-width:500px;
    margin:auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

/* Título */

.formulario-registro h1{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:20px;
}

/* Etiquetas */

.formulario-registro label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

/* REGLA PROPIA PARA CADA INPUT */

.formulario-registro input{
    width:100%;
    padding:12px;
    border:2px solid #cbd5e1;
    border-radius:8px;
    outline:none;
    transition:.3s;
}

/* Cuando el usuario escribe */

.formulario-registro input:focus{
    border-color:#2563eb;
    box-shadow:0 0 6px rgba(37,99,235,.3);
}

/* INPUT INVÁLIDO */

.formulario-registro input:invalid{
    border-color:#dc2626;
    background:#fee2e2;
}

/* INPUT VÁLIDO */

.formulario-registro input:valid{
    border-color:#16a34a;
}

/* Mensaje de error */

.error{
    display:block;
    color:#dc2626;
    font-size:14px;
    margin-top:4px;
    min-height:18px;
}

/* REGLA PROPIA DEL BOTÓN */

.formulario-registro button{
    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

/* HOVER DEL BOTÓN */

.formulario-registro button:hover{
    background:#1d4ed8;
    transform:scale(1.03);
}

/* REGISTRO EXITOSO */

.mensaje-exito{
    margin-top:20px;
    padding:12px;
    border-radius:8px;
    background:#dcfce7;
    color:#15803d;
    text-align:center;
    font-weight:bold;
    display:none;
}

/* Clase que se agregará con JavaScript */

.mensaje-exito.mostrar{
    display:block;
}